.navbar{
  color: white;
  background: red;
  .items{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;

    a{
      text-decoration: none;
      color: white;
    }

    .item{
      &:hover{
        color: #D96C2C;
      }
    }
  }
}